* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #1A1A1A;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2{
    display: flex;
    justify-content: center;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 35px;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;

}

.menu .navbar ul li a:hover {
    color: #ff00e7;
}


.carrito {
    background: radial-gradient(circle, rgba(255, 0, 231, 1) 0%, rgba(255, 255, 255, 0) 70%);
    overflow: visible;
    border-radius: 50%;
    padding: 1%;
    position: absolute;
    top: 14px;
    cursor: pointer;
}

.carrito:hover {
    filter: drop-shadow(4px 6px 12px #ff00e7);
    transition: 0.5s;
}


#menu {
    display: none;
}

.menu-icono {
    width: 45px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.btn-1 {
    display: inline-block;
    padding: 11px 45px;
    background: #fffdfc;
    color: #000;
    border-radius: 25px;
    font-size: 22px;
}

.btn-1:hover {
    color: #ff00e7;
    background-color: #d1d1d1;
}


.productosContenedor {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo {
    margin: 20px;
    color: #E0E0E0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgb(203, 121, 248) 0%, rgb(97, 236, 213) 94%);
}

.titulo h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.titulo p {
    font-size: 20px;
}

.container-items {
    display: flex;
    gap: 20px;
    width: 50%;
}

.item {
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(179, 179, 179, 0.2);
}

.productoContainer{
    display: flex;
}

.info-producto {
    color: #000;
    padding: 15px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.precio {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 18px;
    font-weight: 900;
}

#item{
    width: 250px;
}

.item img {
    border-radius: 10px 10px 0 0;
    transition: all .5s;

}

.item:hover img {
    transform: scale(1.2);
}

.info-producto button {
    border: none;
    background: none;
    background-color: #000;
    color: #E0E0E0;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.info-producto button:hover {
    filter: drop-shadow(4px 6px 12px #ff00e7);
}

.info-producto button:active {
    color: #ff00e7;
    background-color: black;
    border: #ff00e7 2px solid;
}

.container-items-casa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 65%;

}

.divProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.containerShop{
display: flex;
flex-direction: column;
align-items: center;
}



footer {
    width: 100%;
    position: top;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #1A1A1A;
    color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials {
    margin-top: 105px;
    margin-bottom: 25px;
}

.social-icon {
    color: #d1d1d1;
}
